doctypehtml
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/style.css' type='text/css')
    link(href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap" rel="stylesheet")
    title Documentation

  body
    .header
      h1 The Documentation will Update Soon...
    
    .main-container
      .container-one
      .container-two

  
